<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDejogo">
    <app-painel 
    (encerrarJogo)='encerrarJogo($event)'></app-painel>
</div>

<ng-template #fimDejogo>
    <div *ngIf="tipoEncerramento == 'Derrota'; else fimDeJogoVitoria" 
    class="container" style="margin: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: red">
                    Fim de jogo, infelizmente você perdeu :S
                </h3>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container" style="margin: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: green">
                    Parabéns você acertou todas as respostas ! :)
                </h3>
            </div>
        </div>
    </div>
</ng-template>